.Cell {
    position: relative;
    width: 50px;
    height: 50px;
    background: deepskyblue;
    display: inline-block;
    margin: 2px;
}
.Newcell {
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color:red;
}
.hoardcell:before {
    content:" O ";
    position: absolute;
    top: 50%;
    left:50%;
    z-index: -1;
}
.Newcell.hoardcell:before {
    z-index: 1;
}
