

.title {
  color: red;
  font-size: 25px;
  display: inline-block;
  float:left;
  margin-left: 50px;
}
.button {
  width: 150px;
  height: 50px;
  border-bottom: 4px solid darkgreen;
  border-right: 4px solid darkgreen;
  background: limegreen;
  margin: 10px;
}